{
  "BNET_ID": "",
  "BNET_SECRET": "",
  "BNET_OAUTH_TOKEN_ENCRYPTION_SALT": "",
  "DB_HOST": "localhost",
  "DB_PORT": 28015,
  "DB_NAME": "",
  "ERROR_STACKTRACE_SIZE": 10,
  "LOG_ACCESS_FILE": "a.log",
  "LOG_CLUSTER_FILE": "b.log",
  "LOG_FRAMEWORK_FILE": "c.log",
  "LOG_MVC_FILE": "d.log",
  "HOST": "localhost",
  "PORT": 443,
  "PROTOCOL": "https",
  "SSL_KEY": "/path/to/localhost.key",
  "SSL_CERTIFICATE": "/path/to/localhost.crt",
  "USER_EMAIL_VERIFICATION_CODE_SALT": "b864fad4096c9490b8eb2f2409214a6a"
}
